@font-face {
    font-family: VCR;
    src: url(../media/vcr.ttf);
}

body {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    height: 100vh;
    overflow-y: hidden;
    font-family: VCR;
    letter-spacing: -2px;
    user-select: none;
}

#click-prompt {
    text-align: center;
    color: gold;
}

#screen-left {
    background-color: rgb(139, 139, 139);
}

#screen-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(109, 68, 14);
    cursor: not-allowed;
}

#screen-right {
    background-color: rgb(139, 139, 139);
}

#score {
    z-index: 1;
    color: gold;
    font-size: 400%;
    position: absolute;
    left: 50%;
    translate: -50%;
}

#game-over {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 400%;
}

#restart-button {
    display: block;
    margin: auto;
    font-size: 300%;
    color: white;
    background-color: black;
    font-family: VCR;
}

#restart-button:hover {
    background: rgb(36, 36, 36);
    transition: all 0.2s;
}

#restart-button:active {
    color: gray;
    background: black;
}

#player {
    width: 20vh;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
}

.log-segments {
    margin: auto;
    width: 55vw;
    height: 15vh;
    pointer-events: none;
    z-index: 0;
}

@media (width <=1024px) {
    body {
        height: 95vh;
    }
}